<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--  Enable annotations  -->
<!--    <context:component-scan base-package="com.makarov.springcourse" />-->

<!--    <context:property-placeholder location="classpath:musicPlayer.properties" />-->
<!--    <context:annotation-config/>-->

<!--    <bean id="rockMusicBean"-->
<!--          class="com.makarov.springcourse.RockMusic">-->
<!--    </bean>-->
<!--    <bean id="classicalMusicBean"-->
<!--          class="com.makarov.springcourse.ClassicalMusic"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy"-->
<!--          factory-method="getClassicalMusic"-->
<!--    >-->
<!--    </bean>-->
<!--    <bean id="rapMusicBean"-->
<!--          class="com.makarov.springcourse.RapMusic">-->
<!--    </bean>-->

<!--    <bean-->
<!--        id="musicPlayer"-->
<!--        class="com.makarov.springcourse.MusicPlayer"-->
<!--        scope="prototype"-->
<!--    >-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->

<!--        <constructor-arg>-->
<!--            <list>-->
<!--                <ref bean="rockMusicBean" />-->
<!--                <ref bean="classicalMusicBean" />-->
<!--                <ref bean="rapMusicBean" />-->
<!--            </list>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

</beans>